<div class="<%= css_class %>" data-controller="<%= css_class %>">
  <%= render Ui::Mix::Home::Buttons::RedButtonComponet::RedButtonComponet.new(), layout: false %>
  <%# render Ui::Mix::Home::Buttons::BlueButtonComponet::RedButtonComponet.new(), layout: false %>
</div>
