<div class="<%= css_class %>" data-controller="<%= css_class %>">
  <%= render Ui::Mix::Home::Buttons::RedButtonComponent::RedButtonComponent.new(), layout: false %>
  <%= render Ui::Mix::Home::Buttons::BlueButtonComponent::BlueButtonComponent.new(), layout: false %>
</div>
